/* AccountComponent.css */

.account-component {
    width: 100%; /* Full width of footer */
    text-align: center;
    position: absolute;
    bottom: 30px; /* Positioned above the wallet component */
    height: 50px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  