html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
