.panel {
  background: #111827;
  background-size: cover;
  height: 100vh; /* Full height of the viewport */
  width: 100%; /* Full width of the viewport */
  position: fixed; /* Fixed at the top of the viewport */
  top: -100vh; /* Hidden by default above the viewport */
  left: 0;
  transition: top 0.3s ease-in-out; /* Smooth transition for sliding */
  z-index: 1000; /* Ensure it's above other elements */
}

.panel.open {
  top: 0; /* Slides down into view when open */
}

.panel p {
  text-align: center;
  color: #ffffff;
  font-family: 'Shanti';
  font-size: 2vw; /* Responsive font scaling */
  text-shadow: 1px 2px 0px #003d33;
}

.slide {
  position: fixed; /* Fix position at the top */
  top: 0; /* Stick to the top of the page */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001; /* Ensure it's above other elements */
}

.pull-me {
  display: block;
  width: 20vw;
  height: 6vh;
  padding: 0.5rem; /* Add padding for better clickability */
  font-family: 'Shanti';
  font-size: 2.4vw;
  color: #fff;
  border: 2px solid #6600CC;
  background: #000;
  text-decoration: none;
  border-bottom-left-radius: 105px;
  border-bottom-right-radius: 105px;
  text-align: center;
  cursor: pointer;
  z-index: 1002;
}

.pull-me:hover {
  background: #6600CC; /* Add hover effect for better UX */
}

.pull-me p {
  margin: 0;
  padding: 0;
}

.card {
  border: 2px solid #6600CC;
  border-radius: 8px;
  background-color: #111827;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100%; /* Matches the height of other cards */
}


.card:hover {
  border-color: #5200A3; /* Slightly darker purple on hover for interactivity */
  transition: border-color 0.3s ease; /* Smooth transition for hover effect */
}
