/* TicksComponent.module.css */

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure full width */
  height: 40px;
  overflow: hidden;
}

.c {
  height: 100%;
  width: calc(100% / 100); /* Ensure even spacing */
  flex-shrink: 0;
  border: 1px solid #555;
  box-sizing: border-box;
}
