/* WhiteTickComponent.css */

.white-tick {
    position: absolute;
    width: 45px; /* Narrow width for the white tick */
    height: 50px; /* Adjust height according to how tall you want the tick */
    background-color: white;
    top: -10px; /* Adjust this to position the white tick above the ticks */
    left: 44.5%; /* Center the white tick over the ticks */
    transform: translateX(-50%); /* Ensure proper centering */
    z-index: 1000;
  }
  