html, body {
  height: 100%; /* Ensure the body and html take up the full viewport height */
  margin: 0; /* Remove default margins */
  overflow: hidden; /* Prevent scrolling */
}

.content {
  margin-left: 80px; /* Adjust margin to account for left sidebar width */
  margin-right: 80px; /* Adjust margin to account for right sidebar width */
  width: calc(100% - 160px); /* Adjust width to account for both sidebars */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --backdrop: hsl(0 0% 60% / 0.12);
  --radius: 15px;
  --border: 5px;
  --backup-border: var(--backdrop);
  --size: 200px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Prevent scrolling inside main */
  position: relative; /* For positioning child elements */
}




.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}


.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.toggle-buttons {
  display: flex;
  justify-content: space-around; /* Evenly distributes buttons */
  align-items: center;
  gap: 200px; /* Space between each button */
  width: 800px; /* Set a fixed width for the button group */
  margin: 20px auto; /* Center the button group horizontally */
  position: relative;
  z-index: 200;
}

.toggle-buttons button {
  padding: 10px 20px;
  margin: 0;
  border: 2px solid #6600CC;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  z-index: 200;
}

.toggle-buttons button.active {
  background-color: #6600CC;
  color: #fff;
}
