html, body {
  height: 100%; /* Ensure the body and html take up the full viewport height */
  margin: 0; /* Remove default margins */
  overflow: hidden; /* Prevent scrolling */
}

.content {
  margin-left: 80px; /* Adjust margin to account for left sidebar width */
  margin-right: 80px; /* Adjust margin to account for right sidebar width */
  width: calc(100% - 160px); /* Adjust width to account for both sidebars */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --backdrop: hsl(0 0% 60% / 0.12);
  --radius: 15px;
  --border: 5px;
  --backup-border: var(--backdrop);
  --size: 200px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Prevent scrolling inside main */
  position: relative; /* For positioning child elements */
}




.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}


.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.card-row {
  flex: 1;
  width: 80vw; /* Match the carousel width */
  margin: 0 auto;
  /* Add your styles for the card row */
}

/* Ensure LeftSidebar and RightSidebar have appropriate styles */
